* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000000;
  padding: 0px;
  height: 120px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.title {
  color: red;
  text-decoration: none;
  margin: 20px;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: white; 
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 80%;
  width: 80%;


}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.links a:hover {
  color: #f9dbfc;
}